<app-logged-menu>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <nav class="infoUsuario navbar navbar-expand-lg navbar-light bg-light ">
                <div class="container">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="userChatImg"><img src='https://64.media.tumblr.com/6b3b46196d456dfb2d5b48d58ee1f705/07344737b470fbc8-68/s640x960/19e247521935659f0a53cef31751bcccceb31cba.jpg' width='60' height='60'></a>
                        </li>
                        <li class="nav-item">
                            <a class="userChat" href="#">Nome do Usuário</a>
                        </li>
                        
                        
                      </ul>

                      <ul class="nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Opções</a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Adicionar como amigo</a>
                              <a class="dropdown-item" href="#">Denunciar Pessoa</a>
                              <a class="dropdown-item" href="#">Limpar Conversa</a>
                              <a class="dropdown-item" href="#">Encerrar Conversa</a>
                            </div>
                          </li>
                      </ul>


                    
                   
                </div>
            </nav>
         </div>
    </div>

    <div class="row">
        <div class="col-md-10">
             <div class="mensagens">
                    <div class="row">
                        <div class="col-md-12 align-self-end">
                             <div class="msgEnviada">
                                 <div class="textoMensagem">Lorem ipsum</div> 
                              </div>
                         </div>
                     </div>

                     <div class="row">
                        <div class="col-md-12 ">
                             <div class="msgRecebida">
                                <div class="textoMensagem">Lorem ipsum</div>
                              </div>
                         </div>
                     </div>
            
             </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
             <div class="inputMensagem">
                 <div class="input-group mb-3">
                     <input type="text" class="form-control" placeholder="Digite sua mensagem..." aria-label="Nova Mensagem" aria-describedby="basic-addon2">
              <div class="input-group-append">
                 <button class="btn btn-outline-secondary" type="button">Enviar</button>
              </div>
          </div>
        </div>
    </div>
</div>
</app-logged-menu>

