<div class="card">
  <div class="card-body">
    <span>Total de Conversas Trimestrais</span>
    <div>
      <div>
        <div class="chart">
          <canvas *ngIf="data_graph.length > 0" baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  [options]="pieChartOptions"
                  [plugins]="pieChartPlugins"
                  [colors]="pieChartColors"
                  [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
