<app-painel-administrativo>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
        <app-numero-conversa-dia-graph style="width: 100%"></app-numero-conversa-dia-graph>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
        <app-numero-novas-amizades-graph style="width: 100%"></app-numero-novas-amizades-graph>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-6">

        <app-assuntos-mais-populares-graph style="width: 100%"></app-assuntos-mais-populares-graph>

      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
          <app-numero-novos-usuarios-graph style="width: 100%"></app-numero-novos-usuarios-graph>
      </div>
      </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
         <app-numero-de-denuncias-graph style="width: 100%"></app-numero-de-denuncias-graph>
       </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-6">
        <app-total-conversas-trimestre-graph style="width: 100%"></app-total-conversas-trimestre-graph>
      </div>

    </div>

</app-painel-administrativo>
