<nav class="navbar navbar-expand-lg navbar-light menu fixed" style='background-color: #FED372;'>
  <a class="navbar-brand" href="#"><span class="mini-logo"></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav itens">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#second-banner">Sobre</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#final-banner">Entrar</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#contactus">Contato</a>
      </li>
    </ul>
    
  </div>
</nav>

<ng-content></ng-content>

<div class="footer">
  <span class="credits">© 2020 Trabalho de Conclusão de Curso - Pós Graduação em Desenvolvimento Full Stack - Laísa Boralli</span>  
</div>