<app-logged-menu>
<br/>
  <div class="corpo-404">

    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <span>Erro!</span>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-sm-10">
        <h1 class="display-1 titulo404">404</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <h5>Página não encontrada!</h5>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <button type="button" class="btn btn-primary btn-lg">Voltar ao Inicio</button>
      </div>
    </div>




  </div>


</app-logged-menu>

