<app-logged-menu>
    <div id="recuperarsenha">
        <br/>
        <form>
            <span class="title">Recuperar Senha</span>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-10 col-sm-10">
                        <label for="emailSenha">Seu E-mail:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 col-sm-10">
                        <label for="novaSenha">Nova Senha:</label>
                        <input type="password" class="form-control">
                    </div>
                </div>  

                <div class="row">
                    <div class="col-lg-10 col-sm-10">
                        <label for="confirmarSenha">Confirmar Senha:</label>
                        <input type="password" class="form-control">
                    </div>
                </div>  
               
                <br/>
                <div class="row">
                    <div class="col-lg-10 col-sm-10">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
 </app-logged-menu>


