<app-logged-menu>
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10 col-10">
    <div id="recuperarsenha">
        <br/>
        <form (submit)="recoverPassword(user)">
            <span class="title">Recuperar Senha</span>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <label for="emailSenha">Digite seu E-mail:</label>
                        <input type="email" name="email" [(ngModel)]="user.email" class="form-control" id="exampleInputEmail1">
                        
                    </div>
                    <div class="col-lg-12" *ngIf="errors.email && errors.email.length > 0">
                        <strong *ngFor="let error of errors.email">{{ error }}</strong><br/>
                    </div>
                </div>
                

                <br/>
                <div class="row">
                    <div class="col-lg-10 col-sm-10">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
    </div>
    </div>
 </app-logged-menu>
