<app-logged-menu>
    <div id="denuncia">
        <br/>
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-10 col-sm-10">
                        <label for="usuarioDenunciado">Usuário Denunciado</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 col-sm-10">
                        <label for="motivoDenuncia">Motivo</label>
                        <input type="motivo" class="form-control">
                    </div>
                </div>  

                <div class="row">
                    <div class="col-lg-10 col-sm-10">
                        <label for="maisInfoDenuncia">Mais informações</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        
                    </div>        
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-10 col-sm-10">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
 </app-logged-menu>


