<app-logged-menu>
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10 col-sm-10 col-10">
            <div id="info-perfil">
                <br/>
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div id="dados">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-4">
                                            <div id="foto-perfil">
                                                <div class='img-perfil' style='background-image: url("/assets/img/profilepic.png")'></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-8">
                                        <br/>
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-6" (click)="openPerfil(user.id)">
                                                    <span class="nome-perfil">{{ user.name }}</span>  <span class="status-perfil"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-6">
                                                    <a href="#" class="alterar-perfil">Alterar Perfil</a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-6">
                                                    <span class="classificacao-perfil">

                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star"></span>
                                                        <span class="fa fa-star"></span>


                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 ">
                                <div id="search-tool">
                                    <button type="button" class="btn btn-lg search-button" data-toggle="modal" data-target=".encontrar-pessoas-modal">Encontrar Pessoas</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
  <div class="container" style="margin-top: 10px">
    <div class="row">
      <div class="col-sm-4">
        <div (click)="control = 'conversas'" class="btn {{ control == 'conversas' ? 'btn-info' : 'btn-outline-info' }} btn-block">
          Conversas
        </div>
      </div>
      <div class="col-sm-4">
        <div (click)="control = 'amigos'" class="btn {{ control == 'amigos' ? 'btn-info' : 'btn-outline-info' }} btn-block">
          Amigos
        </div>
      </div>
      <div class="col-sm-4">
        <div (click)="control = 'notificacoes'" class="btn {{ control == 'notificacoes' ? 'btn-info' : 'btn-outline-info' }} btn-block">
          Notificações
        </div>
      </div>
    </div>
  </div>
    <app-conversas *ngIf="user.id && control == 'conversas'" [user]="user" style="width: 100% !important;"></app-conversas>
    <app-amizades *ngIf="user.id && control == 'amigos'" [user]="user" style="width: 100% !important;"></app-amizades>

    <div class="row" *ngIf="control == 'notificacoes'">

    </div>

    <div id="grid-contato">

        <!-- <div id="ultimas-conversas">
          <br/>
          <div class="col-lg-12 col-sm-12">
                <h5> Últimas Conversas</h5>
                <ul class="list-group list-group-flush">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <li class="list-group-item d-flex justify-content-between">
                            Cras justo odio
                            <span class="notificacoes badge badge-primary badge-pill">14</span>
                            </li>
                        </div>
                    </div>
                </ul>
                <ul class="list-group list-group-flush">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <li class="list-group-item d-flex justify-content-between">
                            Cras justo odio
                            <span class="notificacoes badge badge-primary badge-pill">14</span>
                            </li>
                        </div>
                    </div>
                </ul>
                <ul class="list-group list-group-flush">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <li class="list-group-item d-flex justify-content-between ">
                            Cras justo odio
                            <span class="notificacoes badge badge-primary badge-pill">14</span>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div id="lista-contatos">
            <div class="col-lg-12 col-sm-12">
                <h5> Contatos</h5>
                <ul class="list-group list-group-flush">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <li class="list-group-item d-flex justify-content-between">
                            Cras justo odio

                            </li>
                        </div>
                    </div>
                </ul>
                <ul class="list-group list-group-flush">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <li class="list-group-item d-flex justify-content-between">
                            Cras justo odio

                            </li>
                        </div>
                    </div>
                </ul>
                <ul class="list-group list-group-flush">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <li class="list-group-item d-flex justify-content-between ">
                            Cras justo odio

                            </li>
                        </div>
                    </div>
                </ul>
            </div>


            <br/>
        </div> -->
    </div>
  <app-encontrar-pessoas-modal></app-encontrar-pessoas-modal>
</app-logged-menu>

