<app-logged-menu>
    <div id="perfil-pessoal">
        <br/>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-3">
                <div id="foto-perfil">
                  <div class='img-perfil-amostra' [style.background-image]="'url('+getImage()+')'"></div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-5 col-sm-5">
                          <button type="button" class="btn btn-primary btn-sm buttons">Adicionar</button>
                     </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-4">
                <div class="row">
                    <span class="nome-perfil">{{user.name}}</span>
                </div>

                <div class="row">
                    <span class="classificacao-perfil">

                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </span>
                </div>

                <div class="row">
                    <span class="desc-perfil" [(ngModel)]="user.usuario_perfil.textProfile">{{user.usuario_perfil.textProfile}} </span>
                </div>

            </div>

        </div>

        <br/><br/>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-sm-10">
                <div class="box-assuntos">
                    <div class="assuntos-ensinar-lista">
                     <span >Assuntos que ensina:</span>
                         <br/> <br/>
                         <mat-chip-list aria-label="Fish selection">
                            <mat-option *ngFor="let assuntoEnsinar of ensinar">
                                {{assuntoEnsinar}}
                              </mat-option>
                        </mat-chip-list>
                </div>

                <div class="assuntos-aprender-lista">
                    <span >Assuntos que gostaria de aprender:</span>
                        <br/> <br/>
                        <mat-chip-list aria-label="Fish selection">
                            <mat-option *ngFor="let assuntoAprender of aprender">
                                {{assuntoAprender}}
                              </mat-option>
                       </mat-chip-list>
               </div>
            </div>
            </div>
        </div>
    </div>
 </app-logged-menu>

