<app-logged-menu>
    <div id="perfil-pessoal">
        <br/>
        <div class="row justify-content-center ">
            <div class="col-lg-3 col-md-5 col-sm-5 col-5">
                <div id="foto-perfil">
                  <div class='img-perfil-amostra' [style.background-image]="'url('+getImage()+')'"></div>
                </div>
                <br/>

            </div>

            <div class="col-lg-4 col-md-5 col-sm- col-10">
                <div class="row justify-content-center">
                  <div class="col-lg-12 col-md-10 col-sm-10 col-10">
                    <span class="nome-perfil">{{user.name}}</span>
                    </div>
                </div>


                  <div class="row justify-content-center" *ngIf="user.usuario_perfil && user.usuario_perfil.score">
                    <div class="col-lg-12 col-md-10 col-sm-10 col-10">
                      <span class="classificacao-perfil">

                         <star-rating value="{{ user.usuario_perfil.score }}" totalstars="5" checkedcolor="gold" uncheckedcolor="gray" size="24px" readonly></star-rating>

                      </span>
                    </div>
                  </div>


                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-10 col-sm-10 col-10">
                        <span class="desc-perfil" [(ngModel)]="user.usuario_perfil.textProfile">{{user.usuario_perfil.textProfile}} </span>
                   </div>
                </div>

            </div>

        </div>

        <br/><br/>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-8 col-sm-8 col-8">
                <div class="box-assuntos">
                    <div class="assuntos-ensinar-lista">
                     <span >Assuntos que ensina:</span>
                         <br/> <br/>
                         <mat-chip-list aria-label="Fish selection">
                            <mat-option *ngFor="let assuntoEnsinar of ensinar">
                                {{assuntoEnsinar}}
                              </mat-option>
                        </mat-chip-list>
                </div>

                <div class="assuntos-aprender-lista">
                    <span >Assuntos que gostaria de aprender:</span>
                        <br/> <br/>
                        <mat-chip-list aria-label="Fish selection">
                            <mat-option *ngFor="let assuntoAprender of aprender">
                                {{assuntoAprender}}
                              </mat-option>
                       </mat-chip-list>
               </div>
            </div>
            </div>
        </div>
    </div>
 </app-logged-menu>

